@import '../_variables.scss';

.page-navigator {
    display: flex;
    background-color: $secondary-color ;
    justify-content: center;
    // border-radius: 0.4rem;
    width: 100%;
    // width: fit-content;
    padding: 5px;

    .other-page {
        border-radius: 0.3rem;
        background-color: $primary-color ;
        padding: 0.3rem;
        color: white;
        margin: 2px;
    }

    .current-page {
        border-radius: 0.3rem;
        background-color: $primary-color ;
        padding: 0.3rem;
        font-weight: bold;
        color: aqua;
        margin: 2px;
        
    }
}