@import "../variables";

.verify-email-container {
  padding: 20px;
  padding-top: 90px;
  background-color: $secondary-color;
  color: $text-color1;
  margin: 0px;
  font-size: 2rem;
  height: 100%;

  p,
  h1 {
    margin: 0px;
  }

  .loading {
    color: $accent-color;
  }

  .error {
    color: red;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .success {
    // display: ;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 2rem;
    }

    .signup-form {
      display: flex;
      background-color: #2a2e35;
      flex-direction: column;
      border-radius: 10px;
      padding: 20px;
    //   margin: 40px;
      margin-bottom: 1px;
      flex-direction: column;
      justify-content: flex-start;
      width: fit-content;

      h3 {
        font-family: "Poppins";
        font-size: 25px;
        margin: 0px;
        padding: 15px;
      }

      //   p {
      //     margin: 0px;
      //     padding: 10px;
      //     padding-top: 0px;
      //     padding-bottom: 15px;
      //   }

      .form-group {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 0px;
        width: 100%;
        box-sizing: border-box;

        .input__box {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 10px;
          }

          .input__wrapper {
            flex: 1;

            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 2px;

              input {
                width: min-content;
              }
            }

            input {
              border-radius: 10px;
              font-size: 15px;
              padding: 10px;
              width: 100%;
              border: 0px;
              box-sizing: border-box;
              background-color: #454e56;
              color: #7c8792;
            }
          }

          .firstname {
            padding-right: 5px;
          }

          .lastname {
            padding-left: 5px;
          }
        }
      }

      .submit__wrapper {
        display: flex;
        justify-content: center;
        height: fit-content;
        padding: 5px;
        background-color: #09c372;
        text-align: center;
        font-size: 1.4rem;
        color: white;
        border: none;
        border-radius: 5px;
        margin: 15px;
        margin-top: 20px;
        box-sizing: border-box;
      }
    }
  }
}
