.nutrition-navigator {
    background-image: url("../images/nutrition_info_background.jpeg");
    font-family: Arial, sans-serif;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

.section p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-left: 20px;
}

.nutrition-info-title{
    font-weight: bold;
}